*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#menuicon{
    display: none;
}
#close{
    display: none;
}

@media(max-width:1920px){
#header {
    display:flex;
    justify-content: space-between;
    padding: 40px 70px;
    background-color:rgb(122, 140, 156);
    position: sticky;
    top: 0px;
    left: 0px;
}
#header span{
    background-color: orangered;
    border-radius: 30px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 25px;
    top: 5px;
}


#header img{
    width: 150%;
}
#header h4{
    position: absolute;
    padding: 45px;
    margin-top: 40px;
}
#h-List{
    display: flex;
}
#h-List li {
    list-style: none;
    padding: 20px 20px;
}
#h-List li a{ 
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:  700px; 
    transition: 0.2s;
}
#h-List li{
    color: black;
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer;
    }
#h-List li button{
    border: none;
    background-color:rgb(122, 140, 156);
    font-size: 20px;
    font-weight:  700px;
    border: none;
    cursor: pointer;
}
#h-List li button:hover{
    color:brown;
    text-decoration: underline;
}
#h-List li:hover{
     color:brown;
    text-decoration: underline;
}
#h-List li a:hover,
#h-List li a.active {
    color:brown;
    text-decoration: underline;

}
#footer{
    background-color: rgb(122, 140, 156);
    color: greenyellow;
    padding: 20px 80px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-align: center;
}


/*background content in upper phase*/


#background{
    background-image:url(images/background\ image.jpg);
    min-height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    padding: 0 80px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
#background #backgroundH2,#backgroundH1{
    color: rgb(10, 10, 224);
    font-size: 120px;
}
#background p{
    font-size: 18px;
    
}
#background button{
    background-color: rgb(255, 47, 95);
    font-size: large;
    padding: 10px;
    margin-top: 20px;
    color: greenyellow;
    border-radius: 10px;
}

/*main collection in the home page*/

/*New Arrival collection*/
#BlazerHeader,#BlazerPara{
    padding: 20px 10px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(20, 20, 209);
}
.main-section.collection1 #imagecart{
    width: 35px;
    height: 40px;
    border-radius: 80px;
    font-weight: 200;
    color:aquamarine;
    position: absolute;
    bottom: 50px;
    right: 0px;
}
.main-section{
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
}

.main-section .main-collection{
    background-color: rgb(181, 181, 205);
    width:15%;
    padding: 20px 10px;
    border-radius: 15px;
    border-color: rgb(6, 184, 83);
    text-align: center;
    cursor: pointer;
    margin: 30px;
}
#main-product1 .main-collection img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;

}

#main-product1 .main-collection:hover{
    box-shadow: 2px 2px 10px rgb(50, 15, 202)
}
#main-product1 .main-collection .des .star{
    color: rgb(215, 155, 3);
}

}



/*shopping page*/

 #product1 .pro {
    width: 250px;                
    background-color: rgb(206, 202, 202);
    padding: 10px 12px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 40px;
    margin-left: 70px;
    cursor: pointer;
    box-sizing: border-box; 
}
#product1 .pro img{
    border-radius: 10px;
    width: 100%;
}
#product1 .pro:hover{
    box-shadow:  20px 20px 30px rgba(204, 38, 38, 0.02);
}
#product1 .pro .description{
    text-align: center;
    padding: 10px 0;
}
#product1 .pro .description span{
    color: rgb(5, 110, 110);
    font-size: 12px;
}
#product1 .pro .description h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}
#product1 .pro .description i{
    font-size: 12px;
    color: goldenrod;
}
#product1 .pro .description h4{
    font-size: 20px;
    color: rgb(7, 228, 154);
    padding-top: 10px;
}
#product1 .pro #imagecart{
    width: 35px;
    height: 40px;
    border-radius: 80px;
    font-weight: 200;
    color:aquamarine;
}
#product1{
    display: flex;
    flex-wrap: wrap;
    margin-left:60px;
    
}
#product1 .pro img {
    width: 100%;
    height: 300px;           
    object-fit: cover;      
    border-radius: 10px;
}


/* cartitemcount */

 #h-List li .cart-item-count{
    top: 7px;
    right: 20px;
    width:20px;
    height: 20px;
    background: rgb(233, 87, 34);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
} 

    /* cart configuration  */

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background: rgb(206, 202, 202);
    box-shadow: -2px 0 10px rgb(0,0,0,0.1);
    padding:65px 20px 40px;
    z-index: 100;
    transition: 0.5s;
    overflow: auto;
}
.cart.active{
    right:0;
}
.cart-title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;

}
.cart-detail{
    margin-left: 50px;
    text-align: center;
    margin-right: 50px;
}
.cart-detail.cart-product-title{
    font-size: 16px;
    line-height: 1px;
}
.cart-price{
    font-weight: 500px;
}
.cart-quantity{
    display: flex;
    border: 1px solid rgb(223, 221, 219);
    border-radius: 6px;
    gap: 15px;
    margin-top: 10px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.cart-quantity #decrement,#increment{
    color: #b31d1d;
}
.cart-quantity.cart-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;    
}
.cart-remove{
    font-size: 25px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600px;
}

.cart-by-btn button{
    width: 150px;
    font-size: 2rem;
    background-color: rgba(10, 245, 22, 0.24);
    margin-top: 20px;
    margin-left: 110px;
    border-radius: 20px; 
}
.cart-by-btn button:hover{
    background-color: rgba(10, 245, 22, 0.644);
    cursor: pointer;
}

 #cart-close{
    position: absolute;
    top: 20px;
    margin-left: 80%;
    font-size: 20px;
}

/* shoping header configuration */

#ShopH2,#ShopPara{
    text-align: center;
    text-shadow:5px 5px 10px rgb(20, 20, 209);
    padding: 20px;
}
.footer-container {
  background-color: #111;
  padding: 40px 50px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 200px; 
  flex-wrap: wrap;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.footer-column h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column a {
  text-decoration: none;
  color: #fcf9f9;
  font-size: 14px;
  padding:5px;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #fff;
  padding-left: 10px;
}

/* signup styles */

.signUp-Wrap {
    position: fixed;
    visibility: hidden;
    top: -100%;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.95);
    padding: 40px 20px;
    transition: top 0.8s ease-in-out;
}

/* When active (show it) */
.signUp-Wrap.active {
    top: 20%;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-Wrap h1{
    font-size: 2rem;
    display: inline-block;
    margin-top: -300px;
    margin-right: -300px;
    margin-bottom: 80px;
}
.signUp-Wrap div{
    margin: 10px;
     display: flex;         
    align-items: center;
}
.signUp-Wrap button{
    margin: 10px;
    display: inline-block;
    margin-left: 90px;
    border-radius: 10px;
    font-size: large;
    width: 100px;
    height: 35px;

}
.signUp-Wrap button:hover{
    background-color: rgba(0, 255, 42, 0.493);
}
.signUp-Wrap input{
    height: 35px;
    width: 40vh;
    padding: 5px;
    border-radius: 30px;
    
}

.signUp-Wrap input:hover{
    background-color: #f5eeee;
}
.signUp-Wrap label{
    
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;           
    height: 45px;  
    margin-right: 5px;        
}
#Login-info{
    margin-left: 130px;
    margin-bottom: 20px;
}
#LoginSpan{
    text-decoration: underline;
    color: rgb(33, 9, 247);
    cursor: pointer;
}

/* Login style */

.Login-Wrap {
    position: fixed;
    visibility: hidden;
    top: -100%;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.95);
    padding: 40px 20px;
    transition: top 0.8s ease-in-out;

}
.Login-Wrap h1{
    font-size: 2rem;
    display: inline-block;
    margin-left: 48%;
    margin-top: 10px;
}

.Login-Wrap form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.Login-Wrap div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Login-Wrap input{
    height: 35px;
    width: 40vh;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.Login-Wrap button{
     margin: 10px;
     margin-left: 35px;
    border-radius: 5px;
    font-size: large;
    width: 100px;
    height: 35px;
}
.Login-Wrap button:hover{
    background-color: rgba(0, 255, 42, 0.493);
}
.Login-Wrap.LoginActive{
    top: 20%;
    visibility: visible;
}

/*Payment style*/

.payment{
    display: none;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: #3ccc2f;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    border-radius: 30px;
    position: fixed;
}
.payment label{
    padding: 10px;
    color: #4e3535;
}
.payment input{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
}
.payment img{
    padding: 10px;
}
.card-information{
    padding: 10px;
}
.card-information #card-cv{
    margin-left: 20px;
    border: 2px inset red;
    box-shadow:2px 2px 5px black ;
}
.payment button{
    height:70px;
    font-size: 20px;
    background-color: rgba(252, 77, 14, 0.877);
    border-radius: 10px;
}
.payment button:hover{
    box-shadow:2px 2px 5px rgb(15, 35, 221) ;
}
.payment i{
    margin-left: 65vh;
    margin-top: 10px;
    font-size: large;
}
@media(max-width:889px){
        #h-List{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position:fixed;
            top: 0;
            right: -300px;
            height: 70vh;
            width: 300px;
            background-color: rgb(171, 195, 216);
        }
    #menuicon{
        display: initial;
        cursor: pointer;
    }
    #h-List.flag{
        right: 0px;
        transition: 0.5s;
    }
    #h-List li{
        margin-top: 10px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 20px;
        left: 90%;
        color:black;
    }

/*Home footer*/

#footer{
    background-color: rgb(122, 140, 156);
    color: greenyellow;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-align: center;
}
#footer img{
    width: 110px;
    height: 90px;
}

/*shoping footer*/

.footer-container {
  background-color: #111;
  padding: 40px 50px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px; 
  flex-wrap: wrap;
  text-align: left;
}



#header {
    display:flex;
    justify-content: space-between;
    padding: 40px 70px;
    background-color:rgb(122, 140, 156);
    position: sticky;
    top: 0px;
    left: 0px;
}
#header span {
        background-color: orangered;
        border-radius: 30px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: -45px;
        top: -70px;
    }
#header h4{
    position: absolute;
    padding: 45px;
    margin-top: 40px;
}
#header img{
    width: 150%;;
}

#h-List{
    display: flex;
}
#h-List li button{
    background-color:rgb(171, 195, 216) ;
}

#h-List li {
    list-style: none;
    padding: 20px 20px;
    /* position:relative; */
}
#h-List li a{ 
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:  700px; 
    transition: 0.2s;
}
#h-List li a:hover,
#h-List li a.active {
    color:brown;
    text-decoration: underline;

}

/*background content in upper phase*/

#background{
    background-image:url(images/background\ image.jpg);
    min-height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    padding: 0 80px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
#background #backgroundH2,#backgroundH1{
    color: blue;
    font-size: 90px;
}

#background p{
    font-size: 18px;
    
}
#background button{
    background-color: rgb(255, 47, 95);
    font-size: large;
    padding: 10px;
    margin-top: 20px;
    color: greenyellow;
    border-radius: 10px;
}


/*main collection in the home page*/

/*New Arrival collection*/
#BlazerHeader,#BlazerPara{
    padding: 20px 10px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(20, 20, 209);
}
.main-section.collection1 #imagecart{
    width: 35px;
    height: 40px;
    border-radius: 80px;
    font-weight: 200;
    color:aquamarine;
    position: absolute;
    bottom: 50px;
    right: 0px;
}
.main-section{
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-section .main-collection{
    background-color: rgb(181, 181, 205);
    width:35%;
    padding: 20px 1px;
    border-radius: 15px;
    border-color: rgb(6, 184, 83);
    text-align: center;
    cursor: pointer;
    margin: 30px;
}
#main-product1 .main-collection img{
   width: 70%;
   border-radius: 15px;
}

#main-product1 .main-collection:hover{
    box-shadow: 2px 2px 10px rgb(50, 15, 202)
}
#main-product1 .main-collection .des .star{
    color: rgb(215, 155, 3);
}
}


